/* variables */

@use "./functions" as func;

$bg-color: rgb(62, 96, 128);
$bg-very-light: func.tint($bg-color, 50%);
$bg-light: func.tint($bg-color, 25%);
$bg-medium: $bg-color;
$bg-dark: func.shade($bg-color, 25%);
$bg-very-dark: func.shade($bg-color, 50%);


$primary-color: rebeccapurple;
$primary-very-light: func.tint($primary-color, 50%);
$primary-light: func.tint($primary-color, 25%);
$primary-medium: $primary-color;
$primary-dark: func.shade($primary-color, 25%);
$primary-very-dark: func.shade($primary-color, 50%);

:root {
  --level-one: translateZ(3rem);
  --level-two: translateZ(6rem);
  --level-three: translateZ(9rem);

  --fw-normal: 400;
  --fw-bold: 700;

  --clr: #d3d6ffb2;
}